/* 
*= require_self
*= require_tree .
*/

html, 
body {
  font-family: 'Gafata', sans-serif;
}

h1{
  font-family: 'Gafata', sans-serif;  
}

.navbar.navbar-fixed-top{
  background: white;
  text-align: center;
  position: fixed;
  z-index: 100; 
}

.nav-container {
  text-align: center;
  display: inline-block;  
  position: relative;
  z-index: 100;
}

.header-logo {
  margin-left: 5em;
}

.inner-nav-container {
  font-size: 14px;
  border-bottom: 1px solid hsla(0, 0%, 73%, 1);
  padding-bottom: 10px;
  line-height:35px;
  z-index: 100;
}

.top-header-brand {
  color: hsla(348, 92%, 43%, 1);
  font-size: 35px;
  margin-bottom: auto;
  position: relative;
  margin-right: 0em;
  width: 600px;
  text-align: left;
}


.header-link{
  float: left;
  margin-top: 1px;
  text-align: center;
}

.logout-link {
  float: left;
  margin-right: 15px;
}


.form-group{
  margin-right: 5px;
}

.footer {
	height: 330px;
	position: relative;
	clear: both;
  margin-top: 45em;
	text-align: right;
}

#main
{
margin: 10em 10em auto ;
}



