/* 
*= require_self
*= require_tree .
*/

html, 
body {
  font-family: 'Gafata', sans-serif;
}

h1{
  font-family: 'Gafata', sans-serif;  
}

.navbar.navbar-fixed-top{
  background: white;
}


.nav-container {
text-align: center;
display: inline-block;
/*margin: 1.5em 17em auto ;*/
/*width: 518px;*/
position: relative;
font-size: 14px;
border-bottom: 1px solid hsla(0, 0%, 73%, 1);
/*padding-bottom: 15px;*/
line-height:35px; 
z-index: 100;
}

.top-header-brand {
  color: hsla(348, 92%, 43%, 1);
  font-size: 25px;
  text-align: center;
/*  margin-left: 15em;*/
  margin-bottom: auto;
  position: relative;
}

.nav-links {
  position: relative;
  text-align: center;
  margin-left: 100px;

}

.header-link{
  float: left;
  margin: 0 25px 0 25px;
  text-align: center;
  position: relative;
  margin-bottom: auto;
}

.form-group{
  margin-right: 5px;
}

.footer {
	height: 330px;
	position: relative;
	clear: both;
  margin-top: 45em;
	text-align: right;
}

#main
{
margin: 10em 10em auto ;
}

.logout-link {
  margin-top: 8px;
}



