/* INDEX FORMATTING */

.view-members-navbar {
	margin-top: 7.5em;
	padding-top: 1.25em;
	margin-bottom: 1em;
  background: white;
  font-family: 'Muli', sans-serif;
}

.view-members-options {
  text-align: center;
  position: relative;
}

.container {
  width: 970px;
}

.row {
  position: relative;
  margin-left: 2em;
}

.face-wrapper.face {
	float: left;
  position: relative;
  z-index: 1;
  border: 7px solid #e8e6e6;
  margin: 2em 2em;
  height: 160px;
  width: 160px;
  font-family: 'Muli', sans-serif;
  text-align: center;
}

.picture {
  position: relative;
  height: 160px;
  width: 160px;
}

.more-info {
  margin-top: 2em;
  text-align: center;
}

.first-name {
float: left;
}

.last-name {
float: left;
margin-left: .2em;
}

.welcome {
  font-family: 'Muli', sans-serif;
  font-size: 2em;
}

.modify-user{
  margin-top: 2em;
}

