
/ h1.member_name
/   = " #{@user.first_name} #{@user.last_name}"

/ p.status
/   = "#{@user.status}"

/ p.email
/   = "#{@user.email}"

= @user.first_name

/ p#notice = notice"
/ =image_tag @User.image.url
